* {
    color: rgb(158, 158, 158);
    font-family: poppins;
    text-decoration: none;
    scroll-behavior: smooth;
    padding: 0;
    margin: 0;
}

body {
    background: rgb(15, 15, 15);
}

/* Navbar */
#nav {
    height: 60px;
    width: 100%;
    display: flex;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    background: #181818;
    backdrop-filter: blur(5px);
    box-shadow: 0 0 10px 0 #5aad53;
    z-index: 4;
}

#nlog {
    width: 50%;
    margin-left: 2em;
}

#nseg {
    width: 50%;
    display: flex;
    justify-content: end;
}

#ncon {
    padding: 0.5em 1em;
    margin: 0.5em 1em;
}

#ncon a {
    font-weight: 900;
    transition: all 0.2s;
}

#ncon a:hover {
    color: #5aad53;
    transition: all 0.2s;
}

#nbtn {
    display: none;
    width: 50%;
    align-items: center;
}

#nbtn img {
    margin-top: 6px;
    height: 2.5em;
    width: 2.5em;
}

#nbtn button {
    cursor: pointer;
    border: none;
    background: #ffffff28;
    border-radius: 100%;
    width: 3.3em;
    height: 3.3em;
    filter: invert(1);
}

/* Navbar Ends */

/* Content 1 */
#con1 {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    padding: 5em 4em;
    align-items: center;
    gap: 2em;
}

#con11 {
    padding: 4em 1em;
}

#con11 h1 {
    font-size: 4em;
    margin: 0;
    background: linear-gradient(to right, #535210, #5aad53);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
.animate{
    font-size: 4em;
    font-weight: 900;
    margin-bottom: 0.3em;
    background: linear-gradient(to right, #535210, #5aad53);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    animation: text 5s linear infinite ;
    background-repeat: no-repeat;
}
@keyframes text {
    0%,10%,100%{
        background-size: 0;
    }
    70%,90%{
        background-size: 100%;
    }
}
#con12 {
    display: flex;
    justify-content: center;
    align-self: center;
}

#con12 img {
    border-radius: 72% 28% 27% 73% / 70% 34% 66% 30%;
    height: 70%;
    width: 70%;
    box-shadow: 0px 0px 50px 0px rgba(0, 0, 0, 0.692);
}

#user {
    box-shadow: 0px 0px 40px 0px rgba(51, 51, 51, 0.726);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 72% 28% 27% 73% / 70% 34% 66% 30%;
    width: 100%;
    height: 100%;
    background: linear-gradient(to right,
            #535210,
            #5aad53);
}

/* Content 1 Ends */

/* Content 2 */
#con2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5em 4em;
    
}

#con21 {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 100%;
}

#con21 p {
    width: 60%;
    font-size: 0.8em;
}

.h1 {
    font-size: 3em;
    font-weight: 900;
    background: linear-gradient(to right, #535210, #5aad53);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

#con22 {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    margin: 40px;
}

#mid-con {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #1b1b1b57;
    height: 250px;
    width: 250px;
    border-radius: 10px;
    box-sizing: border-box;
    box-shadow: 0 0 10px 0px #5aad5336;
}

#mid-con h3 {
    color: #5aad53;
}

#mid-con:hover {
    border: 2px solid #5aad53;
    cursor: pointer;
}

#con22 img {
    height: 100px;
    width: 100px;
    filter: invert(1) saturate(0);
}

#con23 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.hmbtn {
    background: #181818;
    color: #5aad53;
    font-size: 1.3em;
    font-weight: 900;
    padding: 10px 30px;
    border: none;
    border-radius: 10px;
    /* box-shadow: 0px 0px 40px 0px rgba(25, 104, 18, 0.479); */
}

.hmbtn:hover {
    background: #5aad53;
    color: #181818;
    transition: all 0.2s;
    box-shadow: 0 0 40px 0 #5aad53;
    cursor: pointer;
}

/* Content 2 Ends */

/* Content 3 */
#con3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5em 4em;
    
}

#con32 {
    /* display: grid;
    grid-template-columns: repeat(3,1fr); */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 40px;
    margin: 40px;
}

#con32 img {
    box-sizing: border-box;
    height: 300px;
    width: 300px;
    border-radius: 50px;
    opacity: 50%;
}

#con32 img:hover {
    opacity: 1;
    cursor: pointer;
    border-radius: 0px;
    height: 320px;
    width: 320px;
    transition: all 0.5s;
}

#con-imgh {
    display: none;
}
#sl,
#smr,
#slr {
    display: none;
}

.hide {
    display: none;
}

/* Content 3 Ends */
/* form */

#form-main {
    display: none;
    z-index: 3;
    backdrop-filter: blur(5px);
    height: 100%;
    width: 100%;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#form {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    position: fixed;
    top: 50%;
    left: 50%;
    box-shadow: 0 0 5px 0 #5aad53;
    transform: translate(-50%, -50%);
    background: #181818;
    height: 20em;
    width: 13em;
    font-size: 1.5em;
    color: #5aad53;
    padding: 0em 0.5em;
    border-radius: 30px;
}

#form form {
    display: flex;
    flex-direction: column;
    gap: 0.7em;
    align-items: center;
    text-align: left;
}

#close {
    align-self: flex-end;
    margin-right: 0.8em;
}

#form button {
    background: #2b2b2b;
    color: #5aad53;
    font-size: 1em;
    font-weight: 900;
    padding: 0.2em 0.5em;
    border: none;
    border-radius: 10px;
}

#form input {
    height: 35px;
    width: 21em;
    padding: 0.1em 0.5em;
    background: #181818;
    color: #5aad53;
    border: none;
    margin: 0.5em;
    border-radius: 10px;
    box-shadow: 0 0 5px 0 #5aad53;
}

#form textarea {
    background: none;
    color: #5aad53;
    border: none;
    max-width: 40em;
    margin: 0.5em;
    padding: 0.5em;
    border-radius: 10px;
    box-shadow: 0 0 5px 0 #5aad53;
}

#formcon3 input {
    height: 200px;
}

/* form ends */
/* Content 4 */
#con4 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 8em 4em;
    align-items: center;
    text-align: center;
    
}

#con42 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    margin: 40px;
}

#con42 button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    width: 250px;
    background-color: #1b1b1b;
    border: none;
    font-size: 1.3em;
}

#con42 button:hover {
    cursor: pointer;
    background: #5aad53;
    color: #1b1b1b;
    font-size: 1.3em;
    border-radius: 20px;
    transition: all 0.2s;
    box-shadow: 0 0 40px 0 #5aad53;
}
.btimg {
    height: 25px;
    width: 25px;
    margin-right: 20px;
    filter: invert(1);
}

/* Content 4 Ends */

/* Endbar */

#endbar {
    position: fixed;
    bottom: 0;
    left: 0;
    display: none;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    height: 60px;
    width: 100%;
    z-index: 4;
    background-color: #1b1b1b;
}

#endbar a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80px;
    /* background-color: #1b1b1b; */
    border: none;
    font-size: 0.7em;
    color: #5aad53;
    font-weight: 900;
    padding: 5px 0px;
}

.endbtimg {
    filter: invert(1);
    padding: 5px;
    height: 20px;
    width: 20px;
}

#endbar a:hover {
    background: #5aad53;
    color: #181818;
    transition: all 0.2s;
    box-shadow: 0 0 40px 0 #5aad53;
    cursor: pointer;
}

#endbar a:hover img {
    filter: invert(0);
}

/* Endbar Ends */
.hidden{
    opacity: 0;
    filter: blur(5px);
    transform:translate(-100%);
    transition: all 0.2s;
}
.show{
    opacity: 1;
    transform:translate(0%);
    filter: blur(0px);
}
/* Responsive */
@media only screen and (max-width:1300px) {
    #mid-con {
        height: 200px;
        width: 200px;
    }

    #con32 img {
        height: 250px;
        width: 250px;
    }
}

@media only screen and (max-width:1100px) {
    #con11 h1 {
        font-size: 2em;
    }

    p {
        font-size: 0.8em;
    }

    #mid-con {
        height: 170px;
        width: 170px;
    }

    #mid-con h3 {
        font-size: 1em;
    }

    #mid-con img {
        height: 60px;
        width: 60px;
    }

    #con32 img {
        height: 220px;
        width: 220px;
    }
}

@media only screen and (max-width:980px) {
    #mid-con {
        height: 150px;
        width: 150px;
    }

    #mid-con h3 {
        font-size: 0.9em;
    }

    #mid-con img {
        height: 50px;
        width: 50px;
    }

    #con32 img {
        height: 200px;
        width: 200px;
    }
}

@media only screen and (max-width:900px) {
    #mid-con {
        height: 120px;
        width: 120px;
    }

    #mid-con h3 {
        font-size: 0.9em;
    }

    #mid-con img {
        height: 40px;
        width: 40px;
    }

    #con32 img {
        height: 170px;
        width: 170px;
    }
}


@media only screen and (max-width:780px) {
    #mid-con {
        height: 120px;
        width: 120px;
    }

    #mid-con h3 {
        font-size: 0.7em;
    }

    #mid-con img {
        height: 40px;
        width: 40px;
    }

    #con32 img {
        height: 140px;
        width: 140px;
    }
}

@media only screen and (max-width:750px) {

    /* Navbar */
    #nseg {
        display: none;
    }

    #nbtn {
        display: flex;
        justify-content: end;
        margin: 1em;
    }

    /* Navbar Ends */
    #endbar {
        display: flex;
    }
}

@media only screen and (max-width:600px) {
    #con1 {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-areas: "conp2" "conp1";
        justify-items: center;
        text-align: justify;
        gap: 0em;
    }
    #con1,#con2,#con3{
        padding: 4em 2em;
    }
    #con1{
        padding-bottom: 1em;
    }
    #con4{
        padding: 3em 2em 6em 2em ;
    }
    #con12{
        padding: 2.5em 2em 0 2em;
    }
    #con11{
        grid-area: conp1;
        margin-top: -2.5em;
    }
    #con11 h1{
        font-size: 2.1em;
    }
    .animate{
        font-size: 2.3em;
    }
    #con12{
        grid-area: conp2;
    }
    #con21 p {
        padding: 1em 0;
        width: 90%;
    }
    .h1 {
        font-size: 2em;
    }

    .hmbtn {
        font-size: 1em;
    }

    #con22 {
        grid-template-columns: repeat(2, 1fr);
    }

    #con32 {
        display: grid;
        gap: 20px;
        grid-template-columns: repeat(2, 1fr);
    }

    #con32 img {
        height: 120px;
        width: 120px;
    }

    #con32 img:hover {
        height: 130px;
        width: 130px;
    }

    #sl,
    #slr,
    #sm {
        display: none;
    }

    #con-imgh {
        display: block;
    }

    #smr {
        display: block;
    }

    #form {
        height: 26em;
        width: 15em;
        font-size: 1em;
    }

    #form input {
        height: 30px;
        width: 14em;
    }

    #form textarea {
        max-width: 14em;
        max-height: 6em;
        min-width: 14em;
        min-height: 6em;
    }
}

/* Responsive Ends */
